<%- include("partials/header") -%>
    
    <div class="contact-details">
        <h1>My contact details</h1>
        <h5>Name</h5> <p>Arpita Sagar</p>
        <h5>Email</h5> <p>arpitasagar2106@gmail.com</p>
        <h5>Phone Number</h5> <p>+91 7534889162</p>
    </div>

<%- include("partials/footer") -%>