<%- include("partials/header") -%>

<body>

  <section class="second-section">

    <div class="about-me">
      <img class="user-pic" src="/images/arpita.jpeg" alt="Arpita"></img>
    </div>
    <div class="first-div">
      <h1>Hello! I am Arpita Sagar</h1>
      <p>I received my Bachelors in Computer Science and Engineering at Govind Ballabh Pant Institute of Engineering
        and Technology in 2022. I decided to learn full stack development in order to 
        challenge myself intellectually and to expand my skillset.I am currently looking for a fulltime software 
        engineering position where I can continue to grow and improve as a developer. I hope to incorporate my 
        passion for sustainability into my development work. Feel free to check out some of my sample projects
        linked below or reach out to me on LinkeIn or with my contact information.I look forward to hearing from you!</p>
      <h4>Front-End</h4>
       <p>JavaScript • ReactJS • Bootstrap • HTML5 • CSS3</p> 
      <h4>Back-End</h4>
      <p>NodeJS • Express • MongoDB </p> 
      <h4>Other languages</h4>
      <p>C++ • Python</p>

    </div>
  </section>

  <section class="third-section">

     <div class="education">
        <a href="#" style="text-decoration: none"><h1>Education</h1></a>

        <div class="container overflow-hidden">
          <div class="row gx-5">

            <div class="col Class-10th">
               <div class="p-3 border bg-light">
                 <h4>Class 10th</h4>
                 <p>School - The Heritage School, Dehradun</p>
                 <p>Board - ICSE</p>
                 <p>Aggregate - 80%</p>
               </div>
            </div>

          <div class="col Class-12th">
              <div class="p-3 border bg-light"> <h4>Class 12th</h4>
                <p>School - Shri Guru Ram Rai Public School, Dehradun</p>
                <p>Board - CBSE</p>
                <p>Aggregate - 81%</p>
              </div>
            </div>

            <div class="col College">
              <div class="p-3 border bg-light">
                <h4>College</h4>
                <p>Govind Ballabh Pant Institute of Engineering and Technology, Uttarakhand</p>
                <p>Aggregate - 79.16%(present)</p>
              </div>
           </div>
          </div>
        </div>
      </div>

  </section>


  <section class="project-description fourth-section">
    <h1 id="Projects">Projects</h1>

    <div class="first-project">
        <a href="https://github.com/Arpita2106/Blog-website"><img src="/images/Bloggit.jpeg" alt="Bloggit"></a>
        <p>This is a blog writing platfrom. It was my third year engineering project and it was made with lanugages- 
        HTML, CSS, Bootstrap, Node.js. Any user can write what they feel here anonymously. The website is 
        minimalistic with the most easiest UI. Feel free to visit my github profile to find my project.
        </p>
        <hr class="horizontal-1">
   </div>

   <div class="second-project">
        <a href="https://github.com/Arpita2106/Blog-website"><img src="/images/Feedback.jpeg" alt="Feedback"></a>
        <p>This is my final year project where the admin can add students and faculties. The students can feedback their
          subject teachers and the report can be evaluated which is visible to the faculty. Here the languages used are -
          HTML, CSS, Php. We used a SQL database.
        </p>
   </div>
    
  </section>

</body>

<%- include("partials/footer") -%>
